<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.drawing.mapper.BigdataDriverCountDayMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.drawing.entity.BigdataDriverCountDay" >
			<id column="ID" property="id"/>
			<result column="CREATE_TIME" property="createTime"/>
			<result column="COMP_ID" property="compId"/>
			<result column="COMP_NAME" property="compName"/>
			<result column="TEAM_ID" property="teamId"/>
			<result column="TEAM_NAME" property="teamName"/>
			<result column="PROVINCE_ID" property="provinceId"/>
			<result column="PROVINCE_NAME" property="provinceName"/>
			<result column="CITY_ID" property="cityId"/>
			<result column="CITY_NAME" property="cityName"/>
			<result column="XIANQU_ID" property="xianquId"/>
			<result column="XIANQU_NAME" property="xianquName"/>
			<result column="DRIVER_ID" property="driverId"/>
			<result column="DRIVER_NAME" property="driverName"/>
			<result column="DRIVER_SEX" property="driverSex"/>
			<result column="DRIVER_AGE" property="driverAge"/>
			<result column="DRIVER_PHONE" property="driverPhone"/>
			<result column="DRIVER_ID_CARD" property="driverIdCard"/>
			<result column="DRIVER_CODE" property="driverCode"/>
			<result column="NATIONAL_ROAD_MILEAGE" property="nationalRoadMileage"/>
			<result column="HIGH_SPEED_MILEAGE" property="highSpeedMileage"/>
			<result column="OTHER_ROAD_MILEAGE" property="otherRoadMileage"/>
			<result column="DAY_RUN_MILEAGE" property="dayRunMileage"/>
			<result column="NIGHT_RUN_MILEAGE" property="nightRunMileage"/>
			<result column="DANGER_RUN_MILEAGE" property="dangerRunMileage"/>
			<result column="SUM_MILEAGE" property="sumMileage"/>
			<result column="DAY_RUN_TIME_LENGTH" property="dayRunTimeLength"/>
			<result column="NIGHT_RUN_TIME_LENGTH" property="nightRunTimeLength"/>
			<result column="DANGER_RUN_TIME_LENGTH" property="dangerRunTimeLength"/>
			<result column="SUM_RUN_TIME_LENGTH" property="sumRunTimeLength"/>
			<result column="DAY_RUN_AVERAGE_SPEED" property="dayRunAverageSpeed"/>
			<result column="NIGHT_RUN_AVERAGE_SPEED" property="nightRunAverageSpeed"/>
			<result column="DANGER_RUN_AVERAGE_SPEED" property="dangerRunAverageSpeed"/>
			<result column="AVERAGE_SPEED" property="averageSpeed"/>
			<result column="HIGHEST_SPEED" property="highestSpeed"/>
			<result column="OVERSPEED_NUM" property="overspeedNum"/>
			<result column="SERIOUS_OVERSPEED_NUM" property="seriousOverspeedNum"/>
			<result column="TIRED_NUM" property="tiredNum"/>
			<result column="SERIOUS_TIRED_NUM" property="seriousTiredNum"/>
			<result column="SAFETY_WARNING_NUM" property="safetyWarningNum"/>
			<result column="SAFETRAIN_NUM" property="safetrainNum"/>
			<result column="WARNING_RATE" property="warningRate"/>
			<result column="COUNT_DATE" property="countDate"/>
			<result column="COUNT_MONTH" property="countMonth"/>
			<result column="YEAR_NUM" property="yearNum"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.drawing.queryvo.BigdataDriverCountDayView" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, CREATE_TIME, COMP_ID, COMP_NAME, TEAM_ID, TEAM_NAME, PROVINCE_ID, PROVINCE_NAME, CITY_ID, CITY_NAME, XIANQU_ID, XIANQU_NAME, DRIVER_ID, DRIVER_NAME, DRIVER_SEX, DRIVER_AGE, DRIVER_PHONE, DRIVER_ID_CARD, DRIVER_CODE, NATIONAL_ROAD_MILEAGE, HIGH_SPEED_MILEAGE, OTHER_ROAD_MILEAGE, DAY_RUN_MILEAGE, NIGHT_RUN_MILEAGE, DANGER_RUN_MILEAGE, SUM_MILEAGE, DAY_RUN_TIME_LENGTH, NIGHT_RUN_TIME_LENGTH, DANGER_RUN_TIME_LENGTH, SUM_RUN_TIME_LENGTH, DAY_RUN_AVERAGE_SPEED, NIGHT_RUN_AVERAGE_SPEED, DANGER_RUN_AVERAGE_SPEED, AVERAGE_SPEED, HIGHEST_SPEED, OVERSPEED_NUM, SERIOUS_OVERSPEED_NUM, TIRED_NUM, SERIOUS_TIRED_NUM, SAFETY_WARNING_NUM, SAFETRAIN_NUM, WARNING_RATE, COUNT_DATE, COUNT_MONTH, YEAR_NUM
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
				<if test='queryObj != null and  queryObj.createTime != null'>
					AND  CREATE_TIME = #{queryObj.createTime}
				</if>
				<if test='queryObj != null and  queryObj.driverAge != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.driverAge)'>
					AND  DRIVER_AGE = #{queryObj.driverAge}
				</if>
				<if test='queryObj != null and  queryObj.overspeedNum != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.overspeedNum)'>
					AND  OVERSPEED_NUM = #{queryObj.overspeedNum}
				</if>
				<if test='queryObj != null and  queryObj.seriousOverspeedNum != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.seriousOverspeedNum)'>
					AND  SERIOUS_OVERSPEED_NUM = #{queryObj.seriousOverspeedNum}
				</if>
				<if test='queryObj != null and  queryObj.tiredNum != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.tiredNum)'>
					AND  TIRED_NUM = #{queryObj.tiredNum}
				</if>
				<if test='queryObj != null and  queryObj.seriousTiredNum != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.seriousTiredNum)'>
					AND  SERIOUS_TIRED_NUM = #{queryObj.seriousTiredNum}
				</if>
				<if test='queryObj != null and  queryObj.safetyWarningNum != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.safetyWarningNum)'>
					AND  SAFETY_WARNING_NUM = #{queryObj.safetyWarningNum}
				</if>
				<if test='queryObj != null and  queryObj.safetrainNum != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.safetrainNum)'>
					AND  SAFETRAIN_NUM = #{queryObj.safetrainNum}
				</if>
				<if test='queryObj != null and  queryObj.countDate != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.countDate)'>
					AND  COUNT_DATE = #{queryObj.countDate}
				</if>
				<if test='queryObj != null and  queryObj.countMonth != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.countMonth)'>
					AND  COUNT_MONTH = #{queryObj.countMonth}
				</if>
				<if test='queryObj != null and  queryObj.yearNum != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.yearNum)'>
					AND  YEAR_NUM = #{queryObj.yearNum}
				</if>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.drawing.queryvo.BigdataDriverCountDayQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from bigdata_driver_count_day 
  		<include refid="where"/>
  </select>
  
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.drawing.queryvo.BigdataDriverCountDayQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from bigdata_driver_count_day 
  		<include refid="where"/>
  </select>

	<select id="selectByVo" parameterType="com.edgedo.drawing.entity.BigdataDriverCountDay" resultMap="BaseResultViewMap">
		select <include refid="Base_Column_List"/> from bigdata_driver_count_day
		WHERE COUNT_MONTH = #{countMonth} and ID = #{id}
	</select>


	<select id="selectByIdAndFenpian" parameterType="com.edgedo.drawing.entity.BigdataDriverCountDay" resultMap="BaseResultViewMap">
		select <include refid="Base_Column_List"/> from bigdata_driver_count_day
		WHERE  COUNT_DATE = #{countDate} and COUNT_MONTH = #{countMonth}
		and ID = #{id}
	</select>

	<update id="updateByFenPian" parameterType="com.edgedo.drawing.entity.BigdataDriverCountDay">
		update bigdata_driver_count_day
		<set>
			<if test="createTime != null">
				CREATE_TIME = #{createTime},
			</if>
			<if test="compId != null">
				COMP_ID = #{compId},
			</if>
			<if test="compName != null">
				COMP_NAME = #{compName},
			</if>
			<if test="teamId != null">
				TEAM_ID = #{teamId},
			</if>
			<if test="teamName != null">
				TEAM_NAME = #{teamName},
			</if>
			<if test="provinceId != null">
				PROVINCE_ID = #{provinceId},
			</if>
			<if test="provinceName != null">
				PROVINCE_NAME = #{provinceName},
			</if>
			<if test="cityId != null">
				CITY_ID = #{cityId},
			</if>
			<if test="cityName != null">
				CITY_NAME = #{cityName},
			</if>

			<if test="xianquId != null">
				XIANQU_ID = #{xianquId},
			</if>
			<if test="xianquName != null">
				XIANQU_NAME = #{xianquName},
			</if>
			<if test="driverId != null">
				DRIVER_ID = #{driverId},
			</if>
			<if test="driverName != null">
				DRIVER_NAME = #{driverName},
			</if>
			<if test="driverSex != null">
				DRIVER_SEX = #{driverSex},
			</if>
			<if test="driverAge != null">
				DRIVER_AGE = #{driverAge},
			</if>
			<if test="driverPhone != null">
				DRIVER_PHONE = #{driverPhone},
			</if>
			<if test="driverIdCard != null">
				DRIVER_ID_CARD = #{driverIdCard},
			</if>
			<if test="driverCode != null">
				DRIVER_CODE = #{driverCode},
			</if>
			<if test="nationalRoadMileage != null">
				NATIONAL_ROAD_MILEAGE = #{nationalRoadMileage},
			</if>
			<if test="highSpeedMileage != null">
				HIGH_SPEED_MILEAGE = #{highSpeedMileage},
			</if>
			<if test="otherRoadMileage != null">
				OTHER_ROAD_MILEAGE = #{otherRoadMileage},
			</if>
			<if test="dayRunMileage != null">
				DAY_RUN_MILEAGE = #{dayRunMileage},
			</if>
			<if test="nightRunMileage != null">
				NIGHT_RUN_MILEAGE = #{nightRunMileage},
			</if>
			<if test="dangerRunMileage != null">
				DANGER_RUN_MILEAGE = #{dangerRunMileage},
			</if>
			<if test="sumMileage != null">
				SUM_MILEAGE = #{sumMileage},
			</if>
			<if test="dayRunTimeLength != null">
				DAY_RUN_TIME_LENGTH = #{dayRunTimeLength},
			</if>
			<if test="nightRunTimeLength != null">
				NIGHT_RUN_TIME_LENGTH = #{nightRunTimeLength},
			</if>
			<if test="dangerRunTimeLength != null">
				DANGER_RUN_TIME_LENGTH = #{dangerRunTimeLength},
			</if>
			<if test="sumRunTimeLength != null">
				SUM_RUN_TIME_LENGTH = #{sumRunTimeLength},
			</if>
			<if test="dayRunAverageSpeed != null">
				DAY_RUN_AVERAGE_SPEED = #{dayRunAverageSpeed},
			</if>
			<if test="nightRunAverageSpeed != null">
				NIGHT_RUN_AVERAGE_SPEED = #{nightRunAverageSpeed},
			</if>
			<if test="dangerRunAverageSpeed != null">
				DANGER_RUN_AVERAGE_SPEED = #{dangerRunAverageSpeed},
			</if>
			<if test="averageSpeed != null">
				AVERAGE_SPEED = #{averageSpeed},
			</if>
			<if test="highestSpeed != null">
				HIGHEST_SPEED = #{highestSpeed},
			</if>
			<if test="teamId != null and teamId != ''">
				TEAM_ID = #{teamId},
			</if>
			<if test="provinceId != null and provinceId != ''">
				PROVINCE_ID = #{provinceId},
			</if>
			<if test="provinceName != null and provinceName != ''">
				PROVINCE_NAME = #{provinceName},
			</if>
			<if test="cityId != null and cityId != ''">
				CITY_ID = #{cityId},
			</if>
			<if test="cityName != null and cityName != ''">
				CITY_NAME = #{cityName},
			</if>
			<if test="xianquId != null and xianquId != ''">
				XIANQU_ID = #{xianquId},
			</if>
			<if test="xianquName != null and xianquName != ''">
				XIANQU_NAME = #{xianquName},
			</if>
			<if test="driverId != null and driverId != ''">
				DRIVER_ID = #{driverId},
			</if>
			<if test="driverName != null and driverName != ''">
				DRIVER_NAME = #{driverName},
			</if>
			<if test="driverSex != null and driverSex != ''">
				DRIVER_SEX = #{driverSex},
			</if>
			<if test="driverAge != null and driverAge != ''">
				DRIVER_AGE = #{driverAge},
			</if>
			<if test="driverPhone != null and driverPhone != ''">
				DRIVER_PHONE = #{driverPhone},
			</if>
			<if test="driverIdCard != null and driverIdCard != ''">
				DRIVER_ID_CARD = #{driverIdCard},
			</if>
			<if test="driverCode != null and driverCode != ''">
				DRIVER_CODE = #{driverCode},
			</if>
			<if test="overspeedNum!=null">
				OVERSPEED_NUM=#{overspeedNum},
			</if>
			<if test="seriousOverspeedNum!=null">
				SERIOUS_OVERSPEED_NUM=#{seriousOverspeedNum},
			</if>
			<if test="tiredNum!=null">
				TIRED_NUM=#{tiredNum},
			</if>
			<if test="seriousTiredNum!=null">
				SERIOUS_TIRED_NUM=#{seriousTiredNum},
			</if>
			<if test="safetyWarningNum!=null">
				SAFETY_WARNING_NUM=#{safetyWarningNum}
			</if>
		</set>
		where id=#{id} and COUNT_MONTH=#{countMonth}
	</update>



</mapper>