<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.bigdata.mapper.BigdataOverspeedAnalysisSumCountMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.bigdata.entity.BigdataOverspeedAnalysisSumCount" >
			<id column="ID" property="id"/>
			<result column="CREATE_TIME" property="createTime"/>
			<result column="SUM_OVERSPEED_MILEAGE" property="sumOverspeedMileage"/>
			<result column="SUM_OVERSPEED_TIME" property="sumOverspeedTime"/>
			<result column="SUM_OVERSPEED_NUM" property="sumOverspeedNum"/>
			<result column="SUM_SERIOUS_OVERSPEED_MILEAGE" property="sumSeriousOverspeedMileage"/>
			<result column="SUM_SERIOUS_OVERSPEED_TIME" property="sumSeriousOverspeedTime"/>
			<result column="SUM_SERIOUS_OVERSPEED_NUM" property="sumSeriousOverspeedNum"/>
			<result column="SUM_NIGHT_OVERSPEED_MILEAGE" property="sumNightOverspeedMileage"/>
			<result column="SUM_NIGHT_OVERSPEED_TIME" property="sumNightOverspeedTime"/>
			<result column="SUM_NIGHT_OVERSPEED_NUM" property="sumNightOverspeedNum"/>
			<result column="CAR_TYPE" property="carType"/>
			<result column="COUNT_TYPE" property="countType"/>
			<result column="COUNT_TIME" property="countTime"/>
			<result column="COUNT_MONTH" property="countMonth"/>
			<result column="COUNT_YEAR" property="countYear"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.bigdata.queryvo.BigdataOverspeedAnalysisSumCountView" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, CREATE_TIME, SUM_OVERSPEED_MILEAGE, SUM_OVERSPEED_TIME, SUM_OVERSPEED_NUM, SUM_SERIOUS_OVERSPEED_MILEAGE, SUM_SERIOUS_OVERSPEED_TIME, SUM_SERIOUS_OVERSPEED_NUM, SUM_NIGHT_OVERSPEED_MILEAGE, SUM_NIGHT_OVERSPEED_TIME, SUM_NIGHT_OVERSPEED_NUM, CAR_TYPE, COUNT_TYPE, COUNT_TIME, COUNT_MONTH, COUNT_YEAR
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
				<if test='queryObj != null and  queryObj.createTime != null'>
					AND  CREATE_TIME = #{queryObj.createTime}
				</if>
				<if test='queryObj != null and  queryObj.sumOverspeedNum != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.sumOverspeedNum)'>
					AND  SUM_OVERSPEED_NUM = #{queryObj.sumOverspeedNum}
				</if>
				<if test='queryObj != null and  queryObj.sumSeriousOverspeedNum != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.sumSeriousOverspeedNum)'>
					AND  SUM_SERIOUS_OVERSPEED_NUM = #{queryObj.sumSeriousOverspeedNum}
				</if>
				<if test='queryObj != null and  queryObj.sumNightOverspeedNum != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.sumNightOverspeedNum)'>
					AND  SUM_NIGHT_OVERSPEED_NUM = #{queryObj.sumNightOverspeedNum}
				</if>
				<if test='queryObj != null and  queryObj.countTime != null'>
					AND  COUNT_TIME = #{queryObj.countTime}
				</if>
				<if test='queryObj != null and  queryObj.countMonth != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.countMonth)'>
					AND  COUNT_MONTH = #{queryObj.countMonth}
				</if>
				<if test='queryObj != null and  queryObj.countYear != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.countYear)'>
					AND  COUNT_YEAR = #{queryObj.countYear}
				</if>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.bigdata.queryvo.BigdataOverspeedAnalysisSumCountQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from bigdata_overspeed_analysis_sum_count 
  		<include refid="where"/>
  </select>
  
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.bigdata.queryvo.BigdataOverspeedAnalysisSumCountQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from bigdata_overspeed_analysis_sum_count 
  		<include refid="where"/>
  </select>

	<!--  年度的超速统计 -->
	<select id="selectSumGroupByCarTypeYear" parameterType="int" resultMap="BaseResultMap">
		select
			sum(SUM_OVERSPEED_MILEAGE) SUM_OVERSPEED_MILEAGE,
			sum(SUM_OVERSPEED_TIME) SUM_OVERSPEED_TIME,
			sum(SUM_OVERSPEED_NUM) SUM_OVERSPEED_NUM,
			sum(SUM_SERIOUS_OVERSPEED_MILEAGE) SUM_SERIOUS_OVERSPEED_MILEAGE,
			sum(SUM_SERIOUS_OVERSPEED_TIME) SUM_SERIOUS_OVERSPEED_TIME,
			sum(SUM_SERIOUS_OVERSPEED_NUM) SUM_SERIOUS_OVERSPEED_NUM,
			sum(SUM_NIGHT_OVERSPEED_MILEAGE) SUM_NIGHT_OVERSPEED_MILEAGE,
			sum(SUM_NIGHT_OVERSPEED_TIME) SUM_NIGHT_OVERSPEED_TIME,
			sum(SUM_NIGHT_OVERSPEED_NUM) SUM_NIGHT_OVERSPEED_NUM,
			CAR_TYPE
		from bigdata_overspeed_analysis_sum_count
		where COUNT_TYPE='month' and COUNT_YEAR=#{countYear} group by CAR_TYPE
	</select>
	
  
  
</mapper>